:root{
    --primary-color: #67e8f9;
    --black:  #000000;
}

body{
    font-family: 'Fantasy', Papyrus;
    color: var(--black);
    margin: auto;
    background-image: linear-gradient(rgba(255,255,255,.6), rgba(255,255,255,.6)),url("avatar.gif");
    background-repeat: no-repeat;
    background-size: cover;
    /*  gif source: https://giphy.com/gifs/star-james-toronto-10nQVrNmo9klUI  */
    
}



nav{
    background-color: var(--primary-color);
    text-align: center;
    font-size: xx-large;
    font-weight: bold;
    margin: 0rem;
    height: 8vh;
    display: block;
    padding: 1.5rem 0rem 0.5rem;
    
}

footer{
    position: fixed;bottom: 0;right: 0; left: 0;
    background-color: var(--primary-color);
    text-align: center;
}

footer .div1{
    font-size: x-large;
    padding: 0.8rem 0rem 0.5rem;
    font-weight: bold;
}

footer p{
    max-width: 650px;
    margin: auto;
    font-size: large;
    padding: 0rem 0.5rem 0.5rem 0.5rem;
    display: block;
    font-weight: 700;
    text-align: justify;
}



.text-input{
    display: block;
    width: 40%;
    margin: 3rem 5rem 1rem 9rem;
    font-family: inherit;
    font-size: large;
    text-align: justify;
    height: 10rem;

}

.declaration{
    margin: 0rem 5rem 0rem 9rem;
    margin-block-start: 0em;
    margin-block-end: 0em;
    background-color: white;
    
}
.output{
    height: 10rem;
    display: block;
    width: 40%;
    margin: 0rem 5rem 3rem 9rem;
    font-family: inherit;
    font-size: large;
    border: 1px solid black;
    overflow: auto;
    background-color: white;
    text-align: justify;

}

#btn-translate{
    background-color: var(--primary-color);
    padding: 1rem;
    margin: 0rem 5rem 1rem 9rem;
    font-family: inherit;
    font-size: large;
    border: 0rem;
    font-weight: bold;
}

@media(max-width: 600px){

    body{
        font-family: 'Fantasy', Papyrus;
        color: var(--black);
        margin: auto;
        background-image: linear-gradient(rgba(255,255,255,.7), rgba(255,255,255,.7)),url("mobileavatar.gif");
        background-repeat: no-repeat;
        background-size: cover;
        /* gif source - https://gifer.com/en/A2YU */
    }

    nav{
        background-color: var(--primary-color);
        text-align: center;
        font-size: xx-large;
        margin: 0rem;
        height: 5vh;
        display: block;
        padding: 1rem 0rem 1rem;
        font-weight: bold;
        
    }


    .text-input{
        display: block;
        width: 90%;
        margin: 5rem 1rem 1rem 1rem;
        font-family: inherit;
        font-size: large;
        height: 9rem;
        text-align: justify;
    }

    .declaration{
        margin: 1rem 1rem 1rem 1rem;
        margin-block-start: 0em;
        margin-block-end: 0em;
        
    }


    #btn-translate{
        background-color: var(--primary-color);
        padding: 0.8rem;
        margin: 0rem 1rem 1rem;
        font-family: inherit;
        font-size: large;
        border: 0rem;
        font-weight: bold;
    }
    .output{
        height: 7rem;
        display: block;
        width: 90%;
        margin: 0rem 1rem 5rem 1rem;
        font-family: inherit;
        font-size: large;
        border: 1px solid black;
        overflow: auto;
        background-color: white;
        text-align: justify;
    }

    
};